.THIS{
    color: white;
}

.THIS.container{

    font-size: 19px;
    color: black;
    background-color: rgb(251, 255, 0);
}

.THIS.content{
    margin-left: 20%;
    margin-right: 20%;
    padding:20%;;
    padding-top: 5%;
    background-color: teal;
    color: red;

}