.THIS.container{
    text-align: center;
    background-color: yellow;
    color: black;
    width: 90%;
    height: 90%;
   }

   .THIS header{
    color: black;


   }

   .THIS hr.separador{                  
    width: 60%;        
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    
   }

   .THIS.content{
    margin-top: 4%;    
    padding: 3%;
    
   }

   .THIS #transacao{
    border: 3px solid black;    
    border-radius: 15px 30px 0px 0px;
    box-shadow: 7px 7px 19px black; 
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    
    }

    .THIS footer{
    color: black;
    margin-top: 7%;  
    font-size: 13px;               
   }

   .THIS span#burrice{
    text-decoration: line-through;
   }

