.THIS .header{    
    text-align: center;
    padding-top: 2%;
    font-size: 23px;
    text-decoration: 2px 2px black;
    }


   .THIS hr.separador{
    background-color: black;    
    width: 60%;            
    margin-left: 20%;
    margin-right: 20%;
    border: 2.5px solid black;    
   }
   
   .THIS #transacao{
    padding: 1%;
    text-align: center;
    border: 2px solid black;    
    border-radius: 15px 40px 0px 0px;
    box-shadow: 7px 7px 36px black; 
    margin-left: 20%;
    margin-right: 20%;    
    }
   
   .THIS span#burrice{
    text-decoration: line-through;
   }

   .THIS article{
    text-align: center;
    padding: 5%;    
   }

   /* ver isso aqui
   .THIS .operacao{       
       padding-right: 10%;

   }
   */

   .THIS .operacao input{
    text-align: center;
    border: 1px solid black;    
    background-color: rgba(255, 255, 0, 0.32);
}


   .THIS .resumo{        
    text-align: left;
    padding: 1%;    
    font-size: 14px;
    margin-left: 65%;    
    margin-right: 1%;
    color: black;    
    border: 3px dotted black;    
    border-radius: 25px;    
   }

/*.THIS.slds-tabs_default__content  slds-show*/
.THIS.slds-tabs_default__content {
    border: 2px solid black;
}

.THIS .resumo .detalhes{
    border-radius: 40px;
    text-decoration: underline;
    color:yellow;
    background-color: black;
}
.THIS .resumo h1{
    font-size: 16px;    
    text-decoration: underline;
    text-align: center;
}

.THIS .campos{
    border-bottom: 1px solid black;
    width: 7%;

}